body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 20px;
}

h1, h2, p {
    margin-bottom: 15px;
}

img {
    max-width: 415px;
    height: auto;
}

@media only screen and (min-width: 600px) {
    section {
        max-width: 600px;
        margin: auto;
    }
}