p{
    font-family: sans-serif;
    font-size:  16px;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px
}

@media screen and (min-width:428px){
    p{
        font-size:19px
    }
    h5{
        font-size:22px
    }
}




body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 20px;
}




@media only screen and (min-width: 600px) {
    section {
        max-width: 600px;
        margin: auto;
    }
}

.card{
    margin-bottom: 5%;
    margin-top:10%;

}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-custom {
    background-color: #f8f9fa;
    margin-bottom: 5%;
}