.container2{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr,1fr,1fr;
    gap:20px;
    
}

@media (max-width:762px){
    .container2{
        grid-template-columns: 1fr;
    }
}

.event{
    border:solid black;
    border-radius:5px;
    background-color: white;
    cursor: pointer;
}
.event:hover{
    
    transform: scale(1.05) translateY(-5%);
}

body{
    background-color: #f0f0f0;
    background-image: url("../static/4_bg.png");
}
.navbar-custom{
    background-color: #f0f0f0;

    background-size: cover;
    background-repeat: no-repeat;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

