.frame1 {
    height: 50vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-image: url('../static/bg1.png');
    margin-top: 0px;
    margin-bottom:  0px;
}
.frame2{
    height: 50vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-image: url('../static/bg2.png');
    margin-top: 0px;
    margin-bottom:  0px;
}

.Bandeau{
    white-space: nowrap;
    overflow:hidden;
    color:blanchedalmond;
    background-color: hsl(0,0%, 34%);
    animation: scrollText 15s linear infinite, breathing-color--dark 1s infinite alternate ease-out;
}
@keyframes scrollText {
    from {
        transform: translateX(100%); /* Start scrolling from the right edge */
    }
    to {
        transform: translateX(-100%); /* Scroll to the left edge */
    }
}

@keyframes breathing-color--dark {
    from
    {
        background-color: rgb(34, 34, 34);
    }
    to
    {
        background-color: hsl(0, 0%, 34%);
    }
}

.about{
    color:whitesmoke;
}

.btn-default{
    color:black;
}

.imageText{
    background-color:rgb(34, 34, 34);
    color:blanchedalmond;  
    margin-top: 0px;
    margin-bottom:  0px;
}

.text-container1{
    margin-top: 0px;
    margin-bottom:  0px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

#animation{
    position: relative;
    top: 150px;
    margin: 0 auto;
    width: 284px;
    height: 284px;
    transform: translate3d(-50%, -50%, 0);
}

#animation .left,
#animation .right{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#animation .left{
    left: -50%;
}

#animation .right{
    left: 50%;
}

#animation .circle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:100%;
    overflow: hidden;
    background-color: blanchedalmond;
}

#animation .left .circle{
    left: 50%;
}

#animation .right .circle{
    left: -50%;
}

#animation .mask{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:100%;
    background-color: rgb(34,34,34);
    animation: spin 2s cubic-bezier(0.5, 0.5, 1, 1);
    animation-fill-mode: both;
}

#animation .left .mask{
    clip: rect(0, 142px, 284px, 0px);
}

#animation .right .mask{
    clip: rect(0, 284px, 284px, 142px);
    animation-delay: 2s;
}

#animation .inner-circle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #ffffff;
}

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: blanchedalmond;
  }